@charset "utf-8";
/* Custom CSS for the Portfolio, in addition to the Bootstrap CDN */

/* For Everything */
* {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial, "sans-serif";
	color: #343a40;
}

a, a[href^="mailto"] {
	color: #BD5D38;
}

a:hover, a:focus, a:active {
	color: #824027;
}



/* Side Nav */

#sideNav .navbar-nav .nav-item .nav-link {
	font-weight: 600;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	#sideNav {
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 17rem;
		height: 100vh;

		background-color: indianred;

	}

	#sideNav .navbar-brand {
		display: flex;
		margin: auto auto 0;
		padding: 0.5rem;
	}

	#sideNav .navbar-brand .img-profile {
		max-width: 10rem;
		max-height: 10rem;
		border: 0.5rem solid rgba(255, 255, 255, 0.2);
	}

	#sideNav .navbar-collapse {
		display: flex;
		align-items: flex-start;
		flex-grow: 0;
		width: 100%;
		margin-bottom: auto;
	}

	#sideNav .navbar-collapse .navbar-nav {
		flex-direction: column;
		width: 100%;
	}

	#sideNav .navbar-nav .nav-link {
		color: rgba(255,255,255,.5);
	}

	#sideNav .nav-link:hover, .nav-link:active {
		color: white;
	}

	/* controls body content */
	.content {
		margin-left: 300px;
	}

	.divider {
		padding-top: 4rem !important;
		padding-bottom: 4rem !important;
		min-width: none;
	}

	.name_text {
		font-size: 60px;

	}


	/* Icons */
	.fa-facebook-square:hover, .fa-linkedin-in:hover, .fa-briefcase:hover {
		color: lightblue;
		transition: all 500ms;
	}


	/* Frames and Captions for graphic design */
	.picGrid {
		display: flex;
		width: 100%;
		max-width: inherit;
		flex-flow: wrap;
		background-color: transparent;
		justify-content: center;
	}

	.image {
		width: 350px;
		height: 250px;
		background-size: 100%;
		background-color: white;
		transition: background-size 1s;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		overflow: hidden;
		margin: 6px;
	}


	.image:hover {
		background-position: center;
	}

	.caption {
		width: inherit;
		height: inherit;
		background-color: rgba(0, 0, 0, 0.6);
		opacity: 0;
		transition: opacity 1s;
		position: absolute;

	}

	.caption h1, h2, h3, h4, h5, h6, p {
		background-color: transparent;
	}

	.caption:hover {opacity: 1.0;}

	.caption a:link, .caption a:visited {
		color: white;
		margin: 12px;
		padding: 12px;
		display: block;
		background-color: transparent;
		text-decoration: none;
	}



}
